/* main */

.hhh{
    margin: 0;
    font: bold;
    font-size: 55px;
    color: rgb(84, 33, 33);
    
}
.topp{
  display: block;
  
}
.text{
    width: 90%;
    font-size: 26px;
    color:rgb(61, 23, 23);

}
/* .dark {
    background-color: black;
    color: white;
} */
.p{
    font-size:35px;
    font-style: italic;
    text-align: center;
    padding-top: 30px;
    color:rgb(61, 23, 23);
}

.reg{
   font-size: 30px;
}
.sign{
    padding: 10px;
    font-size: 20px;
}
.menubar{
    color: white;
    font-size: 30px;
    text-decoration: underline;
}
#sideMenu{
 background-color: black;
  position: fixed;
 top: 0;
 left: 0;
 width: 0;
 transition: 0.3s;
 overflow-x: hidden; 
 
}
#sideMenu ul li{
    list-style-type: none;
padding-bottom: 10px;
}
#sideMenu ul li a{
    color:white;
    text-decoration: none;
    font-size: 28px;
    transition: 0.3s;
}
#sideMenu ul li a:hover{
    color: rgb(69, 7, 7);
    transition: 0.3s;
}
.closebtn{
    position: absolute; /*place x beside the parent sidemenu*/
    color:white;
    top:0;
    right: 20px;
}

/*slideshow */
#slideshow-div{
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-left: 600px;
    position: relative;
}
#slideshow-div img{
    width: 30%;
    height: 20%;
  
}
.prev{
   position: absolute;
   top:80%;
   padding-left:580px ;
   color: rgb(112, 50, 50);
   font-size: 30px;
}
.next{
    right: 0;
   position: absolute;
   top:80%;
   padding-right: 639px;
   color: rgb(112, 50, 50);
   font-size: 30px;
}

/* 
indexform */


.indexform{
       background-color:rgba(170, 171, 169, 0.594);
    padding: 10px;
    padding-top: 70px;
    margin: auto;
    text-align: center;
    align-items: center;
    font-size: 30px;
    width: 40%;
}
.error{
    color: rgb(235, 56, 56);
}
.forms{
background-image: url(./images/WhatsApp\ Image\ 2026-05-09\ at\ 2.37.01\ PM.jpeg);
 
}
.btnn{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
  background-color: rgb(221, 226, 234);

}
 /* egypt -syria-italy */

.title{
    text-align:center;
    color:white;
    font-size:50px;
    margin-bottom:40px;
    text-shadow:2px 2px 10px rgba(0,0,0,0.3);
}
.container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap:30px;
}
.card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    transition:0.4s;
}

/* .card:hover{
    transform:translateY(-10px) scale(1.02);
} */

/* IMAGE */

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
    transition:0.4s;
}


.card-content{
    padding:20px;
}

.card h2{
    /* color:#ff5722; */
      color:#5d2830;
    margin-bottom:10px;
}

.card p{
    color:#555;
    line-height:1.6;
    margin-bottom:15px;
}
*/

.price{
    font-size:22px;
    font-weight:bold;
    color:#222;
    margin-bottom:15px;
}



.btn{
    width:100%;
    padding:12px;
    border:none;
    background:#5d2830;
    color:white;
    font-size:16px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

/* .btn:hover{
    background:#ff5722;
    transform:scale(1.03);
} */


.bordr{
    border: 5px solid black;
    padding: 10px;;
}
.dish{
    text-align: center;
    font: bold;
    font-size: 60px;
}

.descp{
    width: 30%;
}
.tables{
  
    background-color: rgb(172, 184, 204);
    text-align: center;
    font-size: 30px;
}
.header{
    padding:20px;
}
.mahshi img{
    width: 40%;
}
.feteer img{
    width: 40%;
}

/* pay */
.pay{
    font: bolder ;
    text-align: center;
    font-size: 60px;
    color: white;
}

.payform{
   background-color:rgba(170, 171, 169, 0.594);
    padding: 10px;
    padding-top: 70px;
    margin: auto;
    text-align: center;
    align-items: center;
    font-size: 30px;
    width: 40%;
}
.label{
    padding: 5px;
}
.paybtn{
    padding: 20px 20px;
    font-size: 16px;
    border: none;

}

.parag{
    width: 50%;
    font-size: 25px;
    color: #fff;
}
.paybody{
background-image: url(./images/WhatsApp\ Image\ 2026-05-09\ at\ 2.37.01\ PM.jpeg);
}

/* PAYMENT BUTTON */
#payBtn{
    display:block;
    width:90%;
    margin:20px auto;
    padding:15px;
    background:blue;
    color:white;
    border:none;
    font-size:18px;
    cursor:pointer;
    border-radius:8px;
}


/* dark mode */






body {
  font-family: "Montserrat", sans-serif;
  background-color: #9e8f8f;
  margin: 0;
  transition: background 0.2s linear;
}
/* dark mode for form */
body.dark form{
    color: #fff;
}

body.dark {background-color: #292c35;
} 

body.dark h1, body.dark p{color: #fff;
}
* {box-sizing:border-box;
    }
.checkbox {
  /* opacity: 0;
  position: absolute; */
  display: none;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;} 

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
/* .checkbox-label .ball {
  transform: translateX(24px);
} */



/* search bar */
.bars{
    padding-top:20px;
}
#searchbar{
    padding: 10px;
    width: 35%;
}